body {
    background-color: Silver;
    font-family: verdana;
}
.form {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.formInner {
    padding: 10px;
}
.formLabel {
    width: 200px;
    display: inline-block;
}
.formRow {
    margin-bottom: 5px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.formHeader {
    background-color: Gold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid black;
    padding: 3px;
}

.pageHeader {
    background-color: #ce977b;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: monospace;
    border-bottom: 1px solid black;
}

.pageHeader div {
    margin-left: 15px;
}

.pageHeader img {
    width: 32px;
    height: 32px;
}

.pageContent {
    padding: 10px;
}

.nav {
    background-color: #ce977b;
    padding: 6px;
    border-bottom: 1px solid black;
}

.nav a {
    margin-left: 20px;
}

ol li {
    list-style-type: decimal;
    margin-left: 25px;
}